<html>
    <head>
        <title>CR Video Share Project</title>
        <link href="/static/styles/site.css" rel="stylesheet"> 
        <script src="/static/scripts/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/static/scripts/functions.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    </head>
    <body>
        <h1>Video Sharing App Filler Text</h1>
        
        <div>
            <label for="personName">First name:</label>
            <input type="text" id="personName" >
            <button onclick="changeAvailability()" type="button" class="available" id="availability">Availability=False</button>
        </div>
        
        <div>
            <ul id="people">
            </ul>
        </div>
     
    </body>
</html>

























<!-- <h1>Ralph said I needed to type something here but I'm too tired to think of anything better than this</h1> -->
<!-- <input type="checkbox" class="available" id="availability" onclick="changeAvailability()">
    <label for="availability">I’m Available</label> -->